.page_two {
  text-align: left;
  width: fit-content;
  background-color: #d9d9d9;
  padding: 0 3rem;
  padding-top: 1.5rem;
}

.page_two p,
h1 {
  text-align: left;
}

#btn_edit {
  border: none;
  background: none;
}

#btn_edit:hover {
  cursor: pointer;
}

#candidate-info > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
#candidate-info > div > div {
  display: flex;
  gap: 4px;
  row-gap: 8px;
  align-items: center;
}

/* div divider */
#divider{
  width: 100%;
  height: 1px;
  background-color: #222;
}

.page_two p {
  border-radius: var(--border-radius);
  width: fit-content;
  padding: 1px 4px;
  margin-bottom: 0;
  background-color: var(--container-bg-midWhite);
}

#skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
  width: fit-content;
}

#overlay {
    border: 1px solid #222;
}

#form_container {
    background: white;
    padding: 0.25rem 4px;
    gap: 0;
}

#form_container > input:focus 
{
    border: none;
}

#form_container > div > p {
    background-color: lightgray;
    color: black;
}