#indicator-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.step {
  width: 85px;
  height: 5px;
  border-radius: 40px;
  background-color: lightgray;
}
.active{
  background-color: var(--main-color);
}
