:root {
  --bg-color: rgba(254, 237, 185, 0.3);
  --btn-color: bisque;
  --small-font-size: 0.8rem;
  --medium-font-size: 1rem;
  --large-font-size: 1.5rem;
  --thin-weight: 400;
  --normal-weight: 500;
  --bold-weight: 700;
  --border-radius: 0.25rem;
  --letter-spacing: 0.1rem;
  --main-color: bisque;

  /* From Figma */
  --containr-bg-color: rgba(217, 217, 217, 1);
  --text-header-color: rgba(94, 94, 94, 1);
  --step-indicator-color: rgba(94, 94, 94, 1);
  --text-subtitle-color: rgba(170, 170, 170, 1);
  --container-bg-midWhite: rgba(255, 255, 255, 0.5);
  --form-item-pill-bg: rgba(196, 196, 196, 0.38);
  --dropdown-container-bg: linear-gradient(180deg, rgba(123, 123, 123, 0.7695) 0%, rgba(123, 123, 123, 0.95) 34.24%);
  --dropdown-pill-bg: rgba(255, 255, 255, 0.84);
  --dropdown-piil-text-color:  #A4A4A4;

}
/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* normalize css ends here */

html {
  font-family: poppins, sans-serif;
  color: #222;
}

body {
  width: 350px;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}

.btn {
  background-color: var(--text-subtitle-color);
  color: white;
}

h1 {
  font-size: var(--large-font-size);
  font-weight: var(--bold-weight);
  text-align: center;
  margin-bottom: 0.5rem;
  color: var(--text-header-color);
}

h3 {
  color: var(--text-header-color);
}

p {
  font-size: var(--small-font-size);
  font-weight: var(--thin-weight);
  text-align: center;
  margin-bottom: 1rem;
  color: var(--text-subtitle-color);
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--containr-bg-color);
}
